@font-face {
  font-family:"PT Sans";
  src:
  url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"PT Sans";
  src:url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal ;
}

:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-neutral:#eeeeee;
  --basic-dark:#888888;
  --basic-brown:#766357;
  --basic-text-grey:#333333;
  --basic-black:#000000;
  --hover-blue:#669ec0;
  --pressing-blue:#5496bd;
  --hover-brown:#604E43;
  --pressing-brown:#503e33;
  --special-up-grey:#cacaca;
  --logo-grey:#bdbbbc;
  --special-input-grey:#EBEBEB;
  --special-checkbox-grey:#6A6A6A;
  --special-input:#F2F2F2;
  --rest-grey: #A9A9A9;

}

/* основные параметры */
.page-body {
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  color: var(--basic-text-grey);
  text-transform: uppercase;
  background-color: var( --basic-white);
  margin: 0;
  padding: 0;
}

/* блок навигации */
.main-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.navigation__list {
  list-style: none;
}

/* ссылки навигации */
.navigation__link {
  text-decoration: none;
  color: var(--basic-black);
}

/* скрытые тексты */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .header {} */

/* главная картинка */
.header__img {
  background-image: url(../img/page/background-mask.jpg);
  background-color: var(--basic-blue);
  background-size: cover;
  min-width: 100%;
}

/* заголовок */
.header__title {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
text-align: center;
}

/* текст */
.header__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

/* блок преимуществ */
/* .advantages {} */

/* первое преимущество */
.advantages__city {
  position: relative;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  height: 256px;
}

.advantages__city::after {
  content: url(../img/page/house.jpg);
  position: absolute;
  top: 0;
  right: 0;
}

.city__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.city__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

/* список  дополнительных преимуществ */
/* .features {} */

.features__list{
  list-style: none;
  background-color: var(--basic-white);
  }

.features__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.features__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-text-grey);
}

.features__list--home::before {
  content: url(../img/icons/home.svg);
}

.features__list--food::before {
  content: url(../img/icons/food.svg);
}

.features__list--souvenirs::before {
  content: url(../img/icons/souvenirs.svg);
}

/* второе преимущество */
.advantages__bridge {
  position: relative;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: right;
  height: 256px;
}

.advantages__bridge::before {
  content: url(../img/page/bridge.jpg);
  position: absolute;
  left: 0;
}

.bridge__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.birdge__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

/* список остальных преимуществ */
.advantages__list {
  background-color: var(--basic-neutral);
}

.list__item {
  list-style: none;
}

.list__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.list__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

/* блок поиска */
/* .page-search" {} */

 /* заголовок поиска */
.page-search__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
  text-align: center;
}

/* текст поиска */
.page-search__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  text-align: center;
}

/* ссылка поиска */
.page-search__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-brown);
}

.page-search__link:focus,
.page-search__link:hover {
  color: var( --hover-brown);
}

.page-search__link:active {
  color: var(--pressing-brown);
}

/* подвал контакты */
.page-footer__contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

/* ссылка контакта  */
.contacts__link {
  color: var(--basic-black);
  text-decoration: none;
}

/* ссылки на соцсети */
.social__list {
  list-style: none;
}

.social__link {
  text-decoration: none;
}

/* текст авторского права */
.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

